@model IEnumerable<frushgah.Models.subGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1 class="text-white">@ViewBag.nameGroup</h1>

<p>
    <a asp-action="Create">ثبت مورد جدید</a>
    <a asp-action="Index" asp-controller="groups">بازگشت</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nameSubGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picSubGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.nameSubGroup)
            </td>
            @if (item.picSubGroup != null)
            {
                <td>
                    @{ string imageBase64 = Convert.ToBase64String(item.picSubGroup); string
                     imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        <img src="@imageSrc" width="100" height="100" />
                    }
                </td>
            }
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.idSubGroup">Edit</a> |*@
                <a asp-action="Index" asp-controller="details" asp-route-idSubGroup="@item.idSubGroup">تعریف کالا</a> |
                <a asp-action="Delete" asp-route-id="@item.idSubGroup">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
